<img src="https://github.com/flaviapb/Estatistica-aplicada-a-computa-o/blob/main/Projeto/Projeto%20I/cabecalho.png?raw=true" width="800" height="400" align="center">

<h1><center> <br>TAREFA 1 </center></h1>

<h1><center> <br> É possível acessar os arquivos compactados diretamente do site, sem precisar baixá-los?</center></h1>


<p style="background-color:#D3D3D3;"><strong>Resposta: Sim, com a função compression, estamos "ensinando" ao pandas que queremos descompactar o arquivo, que está sendo importado do site oficial.</strong></p>

In [1]:
import pandas as pd
import numpy as np

dados_2018 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download', compression='zip', encoding = 'iso-8859-1', sep = ';')
dados_2019 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download', compression='zip', encoding = 'iso-8859-1', sep = ';')
dados_2020 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download', compression='zip', encoding = 'iso-8859-1', sep = ';')

<p><center><strong>EXPLICAÇÃO: Mostrando o DataFrame de 2020</strong></center></p>

In [2]:
dados_2020

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69290,252256.0,2018-12-24,segunda-feira,09:15:00,PI,343.0,"263,1",CAMPO MAIOR,Agressão Externa,Colisão com objeto estático,...,0,1,0,0,1,"-4,819326","-42,158821",SR-PI,DEL17/1,UOP03/PI
69291,252652.0,2018-12-12,quarta-feira,07:00:00,BA,101.0,321,PRESIDENTE TANCREDO NEVES,Falta de Atenção à Condução,Saída de leito carroçável,...,0,0,0,1,1,"-13,44768518","-39,42066193",SR-BA,DEL10/5,UOP03/BA
69292,252801.0,2018-11-15,quinta-feira,10:48:00,SP,116.0,529,BARRA DO TURVO,Falta de Atenção à Condução,Colisão traseira,...,0,0,1,1,2,"-24,939211","-48,301248",SR-SP,DEL6/5,UOP03/SP
69293,253040.0,2018-11-23,sexta-feira,19:30:00,RS,472.0,"573,5",URUGUAIANA,Desobediência às normas de trânsito pelo condutor,Queda de ocupante de veículo,...,1,1,0,1,2,"-29,76355779","-57,05200195",SR-RS,DEL9/13,UOP01/RS
69294,253078.0,2018-10-01,segunda-feira,04:31:00,GO,40.0,9,LUZIANIA,Não guardar distância de segurança,Saída de leito carroçável,...,0,0,0,1,1,"-16,131158","-47,957739",SR-DF,UOP01/DF,NaN

<p><center><strong>EXPLICAÇÃO: Mostrando o DataFrame de 2019</strong></center></p>

In [3]:
dados_2019

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,182210.0,2019-01-01,terça-feira,01:30:00,SP,116.0,218,GUARULHOS,Falta de Atenção à Condução,Colisão com objeto estático,...,0,0,0,4,1,"-23,46052014","-46,48772478",SR-SP,DEL6/1,UOP01/SP
1,182211.0,2019-01-01,terça-feira,01:30:00,PR,373.0,"177,3",PONTA GROSSA,Falta de Atenção à Condução,Colisão traseira,...,0,0,0,1,1,"-25,05533957","-50,22776753",SR-PR,DEL7/3,UOP01/PR
2,182212.0,2019-01-01,terça-feira,00:45:00,SC,101.0,16,GARUVA,Animais na Pista,Colisão com objeto estático,...,0,0,0,1,1,"-26,1216","-48,8826",SR-SC,DEL8/3,UOP01/SC
3,182214.0,2019-01-01,terça-feira,00:00:00,CE,20.0,"429,5",FORTALEZA,Ingestão de Substâncias Psicoativas,Colisão com objeto estático,...,1,0,0,1,1,"-3,76999","-38,670063",SR-CE,DEL16/1,UOP02/CE
4,182215.0,2019-01-01,terça-feira,01:00:00,MG,381.0,327,NOVA ERA,Falta de Atenção à Condução,Colisão transversal,...,1,1,0,1,2,"-19,7609","-43,0306",SR-MG,DEL4/3,UOP01/MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67441,266255.0,2019-10-07,segunda-feira,09:10:00,ES,101.0,"270,5",SERRA,Falta de Atenção à Condução,Tombamento,...,1,1,0,1,2,"-20,23107","-40,27387",SR-ES,DEL12/2,UOP01/ES
67442,266406.0,2019-11-25,segunda-feira,07:20:00,PR,116.0,125,FAZENDA RIO GRANDE,Falta de Atenção à Condução,Colisão lateral,...,0,1,1,1,2,"-25,59505","-49,31631",SR-PR,DEL7/1,UOP03/PR
67443,266434.0,2019-06-03,segunda-feira,19:00:00,CE,222.0,"1,4",CAUCAIA,Não guardar distância de segurança,Colisão traseira,...,1,1,0,1,2,"-3,736507","-38,65337",SR-CE,DEL16/1,UOP01/CE
67444,266573.0,2019-07-13,sábado,19:35:00,PR,373.0,425,CANDOI,Defeito Mecânico no Veículo,Saída de leito carroçável,...,1,0,0,1,1,"-25,7118","-52,18374",SR-PR,DEL7/3,UOP02/PR
67445,266627.0,2019-10-22,terça-feira,20:20:00,BA,324.0,608,SIMOES FILHO,Defeito na Via,Queda de ocupante de veículo,...,0,0,0,1,1,"-12,78156","-38,41656",SR-BA,DEL10/1,UOP01/BA

<p><center><strong>EXPLICAÇÃO: Mostrando o DataFrame de 2018</strong></center></p>

In [4]:
dados_2018

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,260031.0,2020-01-01,quarta-feira,01:00:00,TO,153.0,"678,1",GURUPI,Animais na Pista,Atropelamento de Animal,...,5,0,0,5,1,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN
1,260036.0,2020-01-01,quarta-feira,01:00:00,RJ,116.0,178,NOVA IGUACU,Falta de Atenção do Pedestre,Atropelamento de Pedestre,...,0,1,0,0,1,"-22,75223028","-43,4379103",SR-RJ,DEL5/1,UOP02/RJ
2,260037.0,2020-01-01,quarta-feira,01:52:00,SC,101.0,"206,9",SAO JOSE,Ingestão de Álcool,Colisão lateral,...,0,1,0,1,2,"-27,59193546","-48,61824557",SR-SC,DEL8/1,UOP01/SC
3,260038.0,2020-01-01,quarta-feira,01:15:00,RO,364.0,236,CACOAL,Velocidade Incompatível,Saída de leito carroçável,...,1,0,0,1,1,"-11,44624577","-61,43761218",SR-RO,DEL21/2,UOP02/RO
4,260039.0,2020-01-01,quarta-feira,01:30:00,PR,153.0,360,REBOUCAS,Ingestão de Álcool,Capotamento,...,4,0,0,6,1,"-25,67503796","-50,75089805",SR-PR,DEL7/3,UOP04/PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63543,364615.0,2020-03-20,sexta-feira,09:00:00,RN,304.0,"171,8",ANGICOS,Falta de Atenção à Condução,Colisão traseira,...,1,2,0,2,4,"-5,68711053","-36,419458",SR-RN,UOP03,DEL01
63544,364810.0,2020-09-12,sábado,23:50:00,BA,116.0,"11,5",VITORIA DA CONQUISTA,Ingestão de Álcool,Colisão lateral,...,0,2,0,1,2,"-14,87308214","-40,87141514",SR-BA,UOP01,DEL08
63545,364817.0,2020-10-30,sexta-feira,10:30:00,BA,116.0,"14,3",VITORIA DA CONQUISTA,Falta de Atenção à Condução,Colisão lateral,...,0,2,0,2,2,"-14,89597653","-40,86098671",SR-BA,UOP01,DEL08
63546,364835.0,2020-09-20,domingo,23:00:00,BA,116.0,8,VITORIA DA CONQUISTA,Velocidade Incompatível,Queda de ocupante de veículo,...,0,0,0,1,1,"-14,84732305","-40,88634968",SR-BA,UOP01,DEL08
63547,364903.0,2020-10-31,sábado,02:10:00,BA,116.0,3,VITORIA DA CONQUISTA,Animais na Pista,Atropelamento de Animal,...,1,0,0,1,1,"-14,824848","-40,861311",SR-BA,UOP01,DEL08

<h1><center> <br>TAREFA 2 </center></h1>

<h1><center> <br>(A) Quantos acidentes ocorreram em cada ano?</center></h1>

In [5]:
print("\nAcidentes que ocorreram em 2020: {}\n".format(dados_2020.shape[0]))
print("Acidentes que ocorreram em 2019: {}\n".format(dados_2019.shape[0]))
print("Acidentes que ocorreram em 2018: {}\n".format(dados_2018.shape[0]))
print("Soma total de acidentes que ocorreram em 2020, 2019 e 2018: {}\n".format(dados_2020.shape[0] + dados_2019.shape[0] + dados_2018.shape[0]))

soma = dados_2018.shape[0] + dados_2019.shape[0] + dados_2020.shape[0]

totalAcidentes = pd.DataFrame([dados_2018.shape[0],dados_2019.shape[0],dados_2020.shape[0],soma])

totalAcidentes.columns = ['ACIDENTES']
totalAcidentes.index = ["2018","2019","2020","SOMA"]
totalAcidentes

Acidentes que ocorreram em 2020: 69295

Acidentes que ocorreram em 2019: 67446

Acidentes que ocorreram em 2018: 63548

Soma total de acidentes que ocorreram em 2020, 2019 e 2018: 200289

      ACIDENTES
2018      63548
2019      67446
2020      69295
SOMA     200289

<p  style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Apliquei a função shape[0] a cada ano, essa que tem a funcionalidade de mostrar a quantidade de linhas que esse dataframe possui, e depois fiz a soma com os resultados obtidos.<br>
    <br>Representei em formato de texto a quantidade de acidentes em cada ano e o total. Depois criei um DataFrame para mostrar o mesmo resultado que foi impresso em formato textual, mas agora como um DataFrame. <br>
    <br>Nesse dataframe adicionei o nome da coluna e o nome de cada índice.</strong></p>

<h1><center> <br>(B) Quantas variáveis cada conjunto de dados registra?</center></h1>

In [6]:
print("\nQuantidade de variáveis em 2020: {}\n".format(len(dados_2020.columns)))
print("Quantidade de variáveis em 2019: {}\n".format(len(dados_2019.columns)))
print("Quantidade de variáveis em 2018: {}\n".format(len(dados_2018.columns)))
print("Total de variáveis em 2020, 2019 e 2018: {}".format(len(dados_2020.columns)+ len(dados_2019.columns)+len(dados_2019.columns)))

soma = len(dados_2020.columns)+ len(dados_2019.columns)+len(dados_2018.columns)

totalVariaveis = pd.DataFrame([len(dados_2020.columns),len(dados_2019.columns),len(dados_2018.columns),soma])

totalVariaveis.columns = ['VARIAVEIS']
totalVariaveis.index = ["2018","2019","2020","SOMA"]
totalVariaveis

Quantidade de variáveis em 2020: 30

Quantidade de variáveis em 2019: 30

Quantidade de variáveis em 2018: 30

Total de variáveis em 2020, 2019 e 2018: 90

      VARIAVEIS
2018         30
2019         30
2020         30
SOMA         90

<p  style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Em Pandas variável quer dizer colunas, sendo assim, usando o len, que é uma função para obter o tamanho de algo, no nosso caso o dataframe, então utilizei o len para obter o tamanho de cada coluna (com a função '.columns') de cada ano, e depois somei todos os valores obtidos.<br>
    <br>Da mesma forma que a questão anterior, representei em formato de texto o total de colunas/variáveis em cada ano e o total. Depois criei um DataFrame para mostrar o mesmo resultado que foi impresso em formato textual, mas agora como um DataFrame. <br>
    <br>Nesse dataframe adicionei o nome da coluna e o nome de cada índice.</strong></p>

<h1><center> <br>(C) Quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?</center></h1>

In [7]:
print("\nCinco cidades brasileiras que mais ocorreram acidentes em 2020")
municipios_2020 = dados_2020['municipio'].value_counts().to_frame()
municipios_2020.columns=(["MUNICIPIOS"])
municipios_2020.head()

Cinco cidades brasileiras que mais ocorreram acidentes em 2020

           MUNICIPIOS
CURITIBA         1019
SAO JOSE          874
BRASILIA          867
GUARULHOS         755
PALHOCA           688

In [8]:
print("\nCinco cidades brasileiras que mais ocorreram acidentes em 2019")
municipios_2019 = dados_2019['municipio'].value_counts().to_frame()
municipios_2019.columns=(["MUNICIPIOS"])
municipios_2019.head()

Cinco cidades brasileiras que mais ocorreram acidentes em 2019

           MUNICIPIOS
CURITIBA         1094
BRASILIA         1090
SAO JOSE          819
GUARULHOS         717
SERRA             633

In [9]:
print("\nCinco cidades brasileiras que mais ocorreram acidentes em 2018")
municipios_2018 = dados_2018['municipio'].value_counts().to_frame()
municipios_2018.columns=(["MUNICIPIOS"])
municipios_2018.head()

Cinco cidades brasileiras que mais ocorreram acidentes em 2018

           MUNICIPIOS
BRASILIA         1040
CURITIBA          950
GUARULHOS         639
SAO JOSE          629
PALHOCA           593

<p  style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Primeiramente filtrei os dados da coluna 'município', com a função "value_counts" fiz a contagem dos dados que mais se repetiram, com a ajuda da função “to_frame()” transformei em um DataFrame , depois renomeei a coluna, logo depois utilizei a função 'head()' que vai mostrar as 5 cidades com mais ocorrências de acidentes.</strong></p>

<h1><center> <br>(D) Quantos acidentes com feridos graves aconteceram na Paraíba em 2019?</center></h1>

In [10]:
feridos_2019 = dados_2019['feridos_graves'] >= 1

feridos_2019 = dados_2019[feridos_2019]

feridosPB_2019 = feridos_2019['uf'] == "PB"

totalferidosPB_2019 = feridos_2019[feridosPB_2019]

print("\nQuantidade de acidentes com feridos graves na PB em 2019: {}.".format(totalferidosPB_2019.shape[0]))

Quantidade de acidentes com feridos graves na PB em 2019: 414.

<p  style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: A príncipio, filtrei a coluna 'feridos_graves' e armazenei dentro de uma variável (feridos_2019) apenas os dados filtrados que possuem valores maiores ou iguais a 1.<br>
    <br>
    A mesma variável (feridos_2019) vai receber o dataframe (dados_2019), filtrando agora o que estava armazenado na variável (feridos_2019), ou seja, valores maiores ou iguais a 1. Logo depois, foi necessário a criação de uma nova variável (feridosPB_2019) para filtrar agora a coluna 'uf' que vai verificar se o estado é PB. Por último, criei a ultima variável (totalferidosPB_2019) para receber os dados fltrados pelas duas variáveis citadas anteriormente, para finalizar, printei na tela utilizando a função shape[0].</strong></p>

<h1><center> <br>TAREFA 3 </center></h1>

<h1><center> <br>(A) Ranking de acidentes por estado para todos os anos (um só arquivo combinando a informação dos três anos);</center></h1>

In [11]:
print("\n---------------RANKING DO MENOR PARA O MAIOR-------------------")

acidente_2020 = dados_2020['uf'].value_counts().reset_index()
acidente_2019 = dados_2019['uf'].value_counts().reset_index()
acidente_2018 = dados_2018['uf'].value_counts().reset_index()

acidente_UF = pd.concat([acidente_2020,acidente_2019,acidente_2018], keys=["2020","2019","2018"] ,axis=1)
acidente_UF.rename(columns=({"index":"ESTADOS","uf":"ACIDENTES"}),inplace=True)
acidente_UF.index.name = "COLOCAÇÃO"
acidente_UF.reindex(index=acidente_UF.index[::-1])

---------------RANKING DO MENOR PARA O MAIOR-------------------

             2020              2019              2018
          ESTADOS ACIDENTES ESTADOS ACIDENTES ESTADOS ACIDENTES
COLOCAÇÃO
26             AM       124      AM       101      AM       138
25             AP       173      AP       128      AP       155
24             AC       235      RR       237      RR       250
23             RR       236      AC       254      AC       300
22             SE       559      TO       520      SE       575
21             TO       589      SE       612      TO       595
20             AL       691      AL       629      AL       628
19             DF       867      PA       817      PA       963
18             PA      1260      MA      1075      DF      1040
17             MA      1272      DF      1090      MA      1154
16             PI      1371      PI      1346      PI      1203
15             RN      1416      MS      1435      RN      1337
14             MS      1530      RN      1437      PB      1401
13             PB      1588      RO      1533      RO      1486
12             RO      1629      PB      1564      MS      1540
11             CE      1697      CE      1694      CE      1571
10             MT      2631      MT      2137      MT      2195
9              ES      2642      PE      2736      ES      2534
8              PE      2715      ES      2842      PE      2560
7              GO      3464      GO      3354      GO      3228
6              BA      3555      BA      3471      BA      3456
5              RS      4445      SP      4377      SP      4043
4              SP      4516      RS      4595      RS      4176
3              RJ      4575      RJ      4606      RJ      4236
2              PR      7952      PR      7708      PR      7190
1              SC      8497      SC      8428      SC      7220
0              MG      9066      MG      8720      MG      8374

<p style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Para contar a quantidade de acidentes, criei 3 variáveis (acidente_2020, acidente_2019, acidente_2018) que armazenam a filtagrem de dados da coluna 'uf', utilizei "value_counts" para fazer a contagem dos dados e "reset_index()" para resetar os índices de cada coluna. Em seguida, juntei os dados com concat, renomeei as colunas, adicionei um nome para o índices, e por fim mudei a ordem do DataFrame para crescente.</strong></p>

In [12]:
acidente_UF.to_csv("totalAcidentesUF.csv",index=True)

#Caso, deseje executar, remova as "#":

#a = pd.read_csv("totalAcidentesUF.csv")
#a

<p style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Aqui está o local onde você ao executar estará criando um arquivo com extensão ".csv". </strong></p>

<h1><center><br>(B) Acidentes por dia da semana para todos os anos (um só arquivo combinando a informação dos três anos).</center></h1>

In [13]:
dia_semana_2020 = dados_2020['dia_semana'].value_counts()
dia_semana_2019 = dados_2019['dia_semana'].value_counts()
dia_semana_2018 = dados_2018['dia_semana'].value_counts()
dia_semana_geral = dados_2020['dia_semana'].value_counts() + dados_2019['dia_semana'].value_counts() + dados_2018['dia_semana'].value_counts()


acidentes_geral = pd.concat([dia_semana_2020,dia_semana_2019,dia_semana_2018,dia_semana_geral],axis=1)
acidentes_geral.columns=["2020","2019","2018","GERAL"]
acidentes_geral

                2020   2019   2018  GERAL
domingo        11283  11298  10420  33001
sábado         11239  11099  10667  33005
sexta-feira    10632  10381   9764  30777
segunda-feira   9422   9134   8519  27075
quinta-feira    9230   8755   8244  26229
quarta-feira    8824   8374   8155  25353
terça-feira     8665   8405   7779  24849

<p style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Da mesma forma que a questão anterior, criei 4 variáveis (dia_semana_2020, dia_semana_2019, dia_semana_2018, dia_semana_geral), depois fiz a junção com concat e renomeei as colunas.</strong></p>

In [14]:
dia_semana_geral.to_csv("totalDias.csv",index=True)

#Caso, deseje executar, remova as "#":

#b = pd.read_csv("totalDias.csv")
#b

<p style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Aqui está o local onde você ao executar estará criando um arquivo com extensão ".csv". </strong></p>

<h1><center> <br>TAREFA 4 </center></h1>

<h1><center> <br>(A) Qual a causa mais frequente e a mais rara de acidentes registrados nos três anos?</center><h1>

In [15]:
frequencia_2020 = dados_2020['causa_acidente']
frequencia_2019 = dados_2019['causa_acidente']
frequencia_2018 = dados_2018['causa_acidente']

totalFrquencias = pd.concat([frequencia_2020.to_frame(),frequencia_2019.to_frame(),frequencia_2018.to_frame()])
frequencia_comum = totalFrquencias.value_counts().to_frame().head(1)
frequencia_rara = totalFrquencias.value_counts().to_frame().tail(12)

final = pd.concat([frequencia_comum,frequencia_rara])
final.reset_index(inplace=True)
final.columns = ["ACIDENTE",'VALOR']
final.index = ["FREQUENCIA COMUM","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA","FREQUENCIA RARA"]
final

                                                           ACIDENTE  VALOR
FREQUENCIA COMUM                        Falta de Atenção à Condução  73231
FREQUENCIA RARA      Acumulo de areia ou detritos sobre o pavimento      1
FREQUENCIA RARA                             Acostamento em desnível      1
FREQUENCIA RARA                   Acumulo de óleo sobre o pavimento      1
FREQUENCIA RARA                             Condutor usando celular      1
FREQUENCIA RARA                                    Pista esburacada      1
FREQUENCIA RARA                             Ausência de sinalização      1
FREQUENCIA RARA              Pedestre cruzava a pista fora da faixa      1
FREQUENCIA RARA   Ingestão de álcool ou de substâncias psicoativ...      1
FREQUENCIA RARA                                     Curva acentuada      1
FREQUENCIA RARA                                              Fumaça      1
FREQUENCIA RARA                                   Frear bruscamente      1
FREQUENCIA RARA               Estacionar ou parar em local proibido      1

<p style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Utilizei "head(1)" para obter a frequência mais comum e usei "tail(12)" para obter a frequência mais rara. Visto que "tail()" tem a função de retornar as últimas n linhas (5 é o número padrão de elementos), utilizei n = 12, visto que as causas mais raras estavam nas últimas 12 linhas.</strong></p>

<h1><center> <br>(B) Qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos considerados?
            (proporção =  numero de ilesos ou feridos graves/numero de pessoas envolvidas no acidente);</center></h1>

In [16]:
ilesos2020 = dados_2020.groupby(pd.DatetimeIndex(dados_2020.data_inversa).month)['ilesos'].sum()
feridos2020 = dados_2020.groupby(pd.DatetimeIndex(dados_2020.data_inversa).month)['feridos_graves'].sum()
pessoas2020 = dados_2020.groupby(pd.DatetimeIndex(dados_2020.data_inversa).month)['pessoas'].sum()
proporcaoilesos2020 = ilesos2020/pessoas2020
proporcaoferidos2020 = feridos2020/pessoas2020

total2020 = pd.concat([proporcaoilesos2020,proporcaoferidos2020], axis=1)
total2020.index = ['JANEIRO', 'FEVEREIRO', 'MARÇO', 'ABRIL', 'MAIO', 'JUNHO', 'JULHO', 'AGOSTO', 'SETEMBRO', 'OUTUBRO', 'NOVEMBRO', 'DEZEMBRO']
total2020.columns= ["ILESOS","FERIDOS"]
total2020

             ILESOS   FERIDOS
JANEIRO    0.513291  0.090609
FEVEREIRO  0.498256  0.092191
MARÇO      0.481535  0.101853
ABRIL      0.430159  0.112774
MAIO       0.422230  0.114457
JUNHO      0.425097  0.116395
JULHO      0.437509  0.110295
AGOSTO     0.427051  0.106371
SETEMBRO   0.420665  0.115453
OUTUBRO    0.430178  0.112645
NOVEMBRO   0.433356  0.115405
DEZEMBRO   0.432916  0.108103

In [17]:
ilesos2019 = dados_2019.groupby(pd.DatetimeIndex(dados_2019.data_inversa).month)['ilesos'].sum()
feridos2019 = dados_2019.groupby(pd.DatetimeIndex(dados_2019.data_inversa).month)['feridos_graves'].sum()
pessoas2019 = dados_2019.groupby(pd.DatetimeIndex(dados_2019.data_inversa).month)['pessoas'].sum()
proporcaoilesos2019 = ilesos2019/pessoas2019
proporcaoferidos2019 = feridos2019/pessoas2019

total2019 = pd.concat([proporcaoilesos2019,proporcaoferidos2019], axis=1)
total2019.index = ['JANEIRO', 'FEVEREIRO', 'MARÇO', 'ABRIL', 'MAIO', 'JUNHO', 'JULHO', 'AGOSTO', 'SETEMBRO', 'OUTUBRO', 'NOVEMBRO', 'DEZEMBRO']
total2019.columns= ["ILESOS","FERIDOS"]
total2019

             ILESOS   FERIDOS
JANEIRO    0.424224  0.113264
FEVEREIRO  0.424104  0.106789
MARÇO      0.433193  0.114599
ABRIL      0.415685  0.105970
MAIO       0.415162  0.120750
JUNHO      0.423757  0.121617
JULHO      0.436815  0.116670
AGOSTO     0.413084  0.116683
SETEMBRO   0.421064  0.110656
OUTUBRO    0.418922  0.119805
NOVEMBRO   0.425812  0.111047
DEZEMBRO   0.422265  0.114405

In [18]:
ilesos2018 =  dados_2018.groupby(pd.DatetimeIndex(dados_2018.data_inversa).month)['ilesos'].sum()
feridos2018 = dados_2018.groupby(pd.DatetimeIndex(dados_2018.data_inversa).month)['feridos_graves'].sum()
pessoas2018 = dados_2018.groupby(pd.DatetimeIndex(dados_2018.data_inversa).month)['pessoas'].sum()
proporcaoilesos2018 = ilesos2018/pessoas2018
proporcaoferidos2018 = feridos2018/pessoas2018

total2018 = pd.concat([proporcaoilesos2019,proporcaoferidos2019], axis=1)
total2018.index = ['JANEIRO', 'FEVEREIRO', 'MARÇO', 'ABRIL', 'MAIO', 'JUNHO', 'JULHO', 'AGOSTO', 'SETEMBRO', 'OUTUBRO', 'NOVEMBRO', 'DEZEMBRO']
total2018.columns= ["ILESOS","FERIDOS"]
total2018

             ILESOS   FERIDOS
JANEIRO    0.424224  0.113264
FEVEREIRO  0.424104  0.106789
MARÇO      0.433193  0.114599
ABRIL      0.415685  0.105970
MAIO       0.415162  0.120750
JUNHO      0.423757  0.121617
JULHO      0.436815  0.116670
AGOSTO     0.413084  0.116683
SETEMBRO   0.421064  0.110656
OUTUBRO    0.418922  0.119805
NOVEMBRO   0.425812  0.111047
DEZEMBRO   0.422265  0.114405

<p  style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO: Criei 3 variáveis (ilesos2018, feridos2018, pessoas2018), após isso, com a função "groupby" agrupei, em conjunto da função "DatetimeIndex" que teve como parâmetro o nosso Dataframe especificando qual coluna (dados_2018.data_inversa) e o paramêtro "month", tendo como objetivo retornar qual mês iremos trabalhar. Filtrei as colunas "ilesos","feridos_graves" e "pessoas", após isso, com a função "sum()" somei todos os valores armazenados nas variáveis. A partir desses resultados, criei mais duas variáveis (proporcaoilesos2018, proporcaoferidos2018) que armazenam as proporções de ilesos e feridos. Por fim, com a função "concat" fiz a junção dos dados armazenados anteriormente, renomeei as colunas e os índices.<br>
    <br>
     PS: A explicação acima se aplica para os três anos.</strong></p>

<h1><center> <br>(C) Mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não a incidência de acidentes nas rodovias federais.</center></h1>

In [19]:
media = (dados_2018.shape[0] + dados_2019.shape[0])/2
diferenca = dados_2020.shape[0] - media
total = pd.DataFrame([dados_2018.shape[0],dados_2019.shape[0],dados_2020.shape[0],diferenca])
total.columns = ['TOTAL']
total.index = ["2018","2019","2020","Diferença/média"]
total

                   TOTAL
2018             63548.0
2019             67446.0
2020             69295.0
Diferença/média   3798.0

<p  style="background-color:#D3D3D3;"><strong>EXPLICAÇÃO:  A princípio, fiz a média dos dois anos anteriores 2018 e 2019, para poder calcular a diferença com o ano de 2020 (ano que foi afetado pela pandemia).<br>Criei um DataFrame para guardar o número de acidentes de cada ano com a diferença de antes e depois, variável "diferença", da pandemia.</strong></p>